<div class="home__footer__div--novedades">
    <section class="home__footer__section--novedades" id="novedades">
      <div class="home__footer__section__div--novedades">
        <h2 class="home__footer__section__div--subtitulo">RECIBI NUESTRAS NOVEDADES</h2>
        <p class="home__footer__section__div--parrafo">Nuevos lanzamientos, promociones y más!</p>
      </div>

      <div class="home__footer__section__div">
        <form class="form__mobile--footer" action="" method="">
          <input type="text" class="form__mobile__input--nombre" placeholder="Nombre">
          <input type="email" class="form__mobile__input" placeholder="e-mail@miemail.com">
          <button class="form__mobile__button--submit" type="submit">></button>
          <button class="form__mobile__button" type="submit">Suscribirse</button>
        </form>
      </div>

    </section>

    <section class="home__footer__section--info">

      <div class="home__footer__section__div--info">
        <div class="home__footer__section__div--iconos"><i class="fa-regular fa-credit-card"></i></div>
        <h2 class="home__footer__section__div__h2">podes pagar con tarjeta o en efectivo</h2>
        <p class="home__footer__section__div__p">!Tenemos 3 y 6 cuotas sin interés en todos los productos de la
          tienda
          y un 10% de descuento en productos
          seleccionados para vos!</p>
      </div>

      <div class="home__footer__section__div--info">
        <div class="home__footer__section__div--iconos"><i class="fa-solid fa-truck-fast"></i></div>
        <h2 class="home__footer__section__div__h2">envío rapido</h2>
        <p class="home__footer__section__div__p">Elegí Mercado Envios y segui tu compra hasta recibirla. Todos
          tus
          envíos estarán protegidos</p>
      </div>

      <div class="home__footer__section__div--info">
        <div class="home__footer__section__div--iconos"><i class="fa-regular fa-face-laugh-beam"></i></div>
        <h2 class="home__footer__section__div__h2">compra protegida</h2>
        <p class="home__footer__section__div__p">Te acompañamos hasta que recibas lo que compraste, y si no es
          lo que
          esperabas te devolvemos el dinero.</p>
      </div>

    </section>
  </div>