<footer id="footer" class="home__footer">

    <section class="home__footer__section--final" id="redes">
      <div class="home__footer__section__div">

        <h4>redes sociales</h4>

        <div class="home__footer__section__div--social">
          <a href=""><i class="fa-brands fa-google"></i></a>
          <a href=""><i class="fa-brands fa-whatsapp"></i></a>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>

      </div>

      <div class="home__footer__section__div--sobre-nosotros">
        <h4>sobre nosotros</h4>
        <p class="home__footer__section__div__p">Como desarrolladores hemos trabajado en este proyecto e-commerce
          llamado Malva, asignado por la empresa. La
          tienda online ofrece diferentes productos de bazar y articulos para el hogar. En este trabajo, el cual incluye
          diferentes vistas y lógicas, se ve reflejado el desempeño y conocimiento adquirido hasta ahora por los
          participantes.</p>
      </div>

      <div class="home__footer__section__div--atencion-cliente">
        <h4 class="home__footer__section__div__h4">atención al cliente</h4>
        <a class="home__footer__section__div__a" href="">Botón de arrepentimiento </a>
        <a class="home__footer__section__div__a" href="">Formas de pago </a>
        <a class="home__footer__section__div__a" href="">Políticas de privacidad y seguridad </a>
        <a class="home__footer__section__div__a" href="">Términos y condiciones</a>
        <a class="home__footer__section__div__a" href="">Defensa al consumidor</a>
      </div>

      <div class="home__footer__section__div--malva">
        <h4>MALVA©</h4>
      </div>

    </section>

  </footer>