<header class="home__header">
    <section class="home__header__section--cuenta">
      <% if (locals.userLogin) { %>
       <a href="#">Hola, <%= userLogin.name %></a>
       <a href="/logout" class="home__header__section__a">Salir</a>
      <% } else{%>
        <a href="/login" class="home__header__section__a">Iniciar Sesión</a>
      <a href="/register" class="home__header__section__a">Registrarse</a>
      <% }%>
      <a href="/profile" class="home__header__section__a--icono"><i class="fa-solid fa-user"></i></a>
    </section>
    <section class="home__header-section">

      <figure class="home__header__figure">
        <button class="home__header__figure-button" id="icono-menu"><i class="fa-solid fa-bars"></i></button>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </figure>

      <figure class="home__header__figure--logo">
        <a href="/"><img src="/images/logo/malva-logo-1.png" alt=""></a>
      </figure>

      <figure class="home__header__figure">
        <a href="/products/shopping-cart"><button><i class="fa-solid fa-cart-shopping"></i></button></a>
      </figure>

    </section>


    <nav class="home__header__nav">
      <ul class="home__header__nav-ul">

        <% categories.forEach(({category,id}) => { %>
            <li><a href="/products/category/<%= category %>"><%= category %></a></li>
        <% }) %>
        
      </ul>
    </nav>

  </header>