<header class="home__header">
  <section class="home__header__section--cuenta">
    <% if (locals.userLogin) { %>
      <% if (locals.userLogin.rol===1) { %>
        <a href="/dashboard">Admin</a>
        <% } %>
          <a href="/users/profile">Hola, <%= userLogin.name %></a>
            <% }%>
  </section>
  <section class="home__header-section">

    <div class="home__header-section-div-1">

      <div class="home__header__button header-menu-ham">
        <button id="icono-menu"><i class="fa-solid fa-bars"></i></button>
      </div>
      <div class="search-box-h">
        <%- include('./searchHeader') %>
      </div>
      <div class="header-image">
        <a href="/"><img src="/images/malva-nuevo-logo.png" alt=""></a>
      </div>
      <div class="home-header-icons-t">
        <div class="home__header__button btn-heart">
          <a href=""><button><i class="bi bi-heart"></i></button></a>
        </div>
        <div class="home__header__button btn-person">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person"></i>
            </button>
            <ul class="dropdown-menu">
              <% if (locals.userLogin) { %>
                <% if (locals.userLogin.rol===1) { %>
                  <li><a class="dropdown-item" href="/dashboard">Admin</a></li>
                  <% } %>
                  <li><a class="dropdown-item" href="/users/profile">Perfil</a></li>
                  <li><a class="dropdown-item" href="/users/logout">Salir</a></li>
                  <% } else{%>
                    <li><a class="dropdown-item" href="/users/login">Iniciar Sesión</a></li>
                    <li><a class="dropdown-item" href="/users/register">Registrarse</a></li>
            <% }%>

            </ul>
          </div>
        </div>
        <div class="home__header__button btn-cartt">
          <a href="/products/shopping-cart"><button><i class="bi bi-cart2"></i></button></a>
        </div>
      </div>

    </div>

  </section>


  <nav class="home__header__nav">
    <ul class="home__header__nav-ul">

      <% categories.forEach(({name,id})=> { %>
        <li><a href="/products/category/<%= id %>">
            <%= name %>
          </a></li>
        <% }) %>

    </ul>
  </nav>

</header>

<div class="cont-menu active10" id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#novedades">Recibi novedades</a></li>
    <li><a href="#redes">Redes</a></li>
    <li><a href="/users/profile">Perfil</a></li>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Register</a></li>
    <% if (locals.userLogin) { %>
    <% if (locals.userLogin.rol===1) { %>
      <li><a href="/dashboard">Admin</a></li>
    <% } %>
    <% } %>
    <li><a id="cerrar">Cerrar</a></li>
  </ul>
</div>