<header class="home__header">
    <section class="home__header__section--cuenta">
      <a href="/login" class="home__header__section__a">Iniciar Sesión</a>
      <a href="/register" class="home__header__section__a">Registrarse</a>
      <a href="" class="home__header__section__a--icono"><i class="fa-solid fa-user"></i></a>
    </section>
    <section class="home__header-section">

      <figure class="home__header__figure">
        <button class="home__header__figure-button" id="icono-menu"><i class="fa-solid fa-bars"></i></button>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </figure>

      <figure class="home__header__figure--logo">
        <a href="/"><img src="/images/logo/malva-logo-1.png" alt=""></a>
      </figure>

      <figure class="home__header__figure">
        <a href="/shopping-cart"><button><i class="fa-solid fa-cart-shopping"></i></button></a>
      </figure>

    </section>


    <nav class="home__header__nav">
      <ul class="home__header__nav-ul">
        <li><a>deco</a></li>
        <li><a>frascos</a></li>
        <li><a>utensilios</a></li>
        <li><a>vasos</a></li>
        <li><a>jarras</a></li>
        <li><a>aromáticos</a></li>
      </ul>
    </nav>

  </header>