<header class="home__header">
  <section class="home__header__section--cuenta">
    <% if (locals.userLogin) { %>
      <% if (locals.userLogin.rol===1) { %>
        <a href="/dashboardAdd">Admin</a>
        <% } %>
          <a href="/users/profile">Hola, <%= userLogin.name %></a>
          <a href="/users/logout" class="home__header__section__a">Salir</a>
          <% } else{%>
            <a href="/users/login" class="home__header__section__a">Iniciar Sesión</a>
            <a href="/users/register" class="home__header__section__a">Registrarse</a>
            <% }%>
              <a href="/users/profile" class="home__header__section__a--icono"><i class="fa-solid fa-user"></i></a>
  </section>
  <section class="home__header-section">

    <div class="home__header-section-div-1">

      <div class="home__header__button">
        <button id="icono-menu"><i class="fa-solid fa-bars"></i></button>
      </div>
      <div>
        <a href="/"><img src="/images/malva-nuevo-logo.png" alt=""></a>
      </div>
      <div class="home__header__button">
        <a href="/products/shopping-cart"><button><i class="fa-solid fa-cart-shopping"></i></button></a>
      </div>

    </div>

  </section>


  <nav class="home__header__nav">
    <ul class="home__header__nav-ul">

      <% categories.forEach(({name,id})=> { %>
        <li><a href="/products/category/<%= id %>">
            <%= name %>
          </a></li>
        <% }) %>

    </ul>
  </nav>

</header>