<div class="cont-menu active10" id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#novedades">Recibi novedades</a></li>
      <li><a href="#redes">Redes</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a id="icono-menu">Cerrar</a></li>
    </ul>
  </div>