<div class="cont-menu active10" id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#novedades">Recibi novedades</a></li>
      <li><a href="#redes">Redes</a></li>
      <li><a href="/users/profile">Perfil</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/register">Register</a></li>
      <li><a id="cerrar">Cerrar</a></li>
    </ul>
  </div>