<header class="header--dashboard">

    <button id="menu-dashboard">
      <i class="fa-solid fa-bars"></i></button>
    </button>
  
    <h1><%= title %></h1>
</header>
<nav id="menu" class="nav--dashboard active11">
    <ul>
      <li><a href="/users/profile" class="li--logo">
        <img src="/images/malva-logo2.png">
        <span class="span--nav-item">Admin</span>
      </a></li>
      <li><a href="/dashboardAdd">
        <i class="fas fa-solid fa-plus-minus"></i>
        <span class="span--nav-item">Agregar</span>
      </a></li>
      <li><a href="/dashboardAdmin">
        <i class="fas fa-solid fa-user-gear"></i>
        <span class="span--nav-item">Admin</span>
      </a></li>
      <li><a href="/dashboardOrders">
        <i class="fas fa-solid fa-truck-fast"></i>
        <span class="span--nav-item">Pedidos</span>
      </a></li>
      <li><a href="#">
        <i class="fas fa-cog"></i>
        <span class="span--nav-item">Opciones</span>
      </a></li>
      <li><a href="/" class="a--logout">
        <i class="fas fa-solid fa-house"></i>
        <span class="span--nav-item">Home</span>
      </a></li>
      <li><a id="close" href="#">
        <i class="fas fa-solid fa-xmark"></i>
        <span class="span--nav-item">Cerrar</span>
      </a></li>
    </ul>
  </nav>