<header class="header--dashboard">

    <button id="menu-dashboard">
      <i class="fa-solid fa-bars"></i></button>
    </button>
  
    <h1><%= title %></h1>
</header>
<nav id="menu" class="nav--dashboard active11">
    <ul>
      <li><a href="#" class="li--logo">
        <img src="./images/malva-logo2.png">
        <span class="span--nav-item">Admin</span>
      </a></li>
      <li><a href="/dashboardUsers">
        <i class="fas fa-solid fa-users-gear"></i>
        <span class="span--nav-item">Usuarios</span>
      </a></li>
      <li><a href="/dashboardProducts">
        <i class="fas fal fa-boxes-alt"></i>
        <span class="span--nav-item">Productos</span>
      </a></li>
      <li><a href="/dashboardOrders">
        <i class="fas fa-solid fa-truck-fast"></i>
        <span class="span--nav-item">Pedidos</span>
      </a></li>
      <li><a href="#">
        <i class="fas fa-cog"></i>
        <span class="span--nav-item">Opciones</span>
      </a></li>
      <li><a href="#" class="a--logout">
        <i class="fas fa-sign-out-alt"></i>
        <span class="span--nav-item">Cerrar Sesion</span>
      </a></li>
      <li><a id="close" href="#">
        <i class="fas fa-solid fa-xmark"></i>
        <span class="span--nav-item">Cerrar</span>
      </a></li>
    </ul>
  </nav>