<figure class="home__main__section__figure">
    <div class="home__main__productos-imagen">
      <img src="/images/vasos/vaso-whisky-2-anillos-2.jpg" alt="">
    </div>
    <div class="home__main__productos-detalle">
      <h4>Vaso Whisky 2 anillos</h4>
      <p>$1.000,00</p>
      <div class="ver-todos-los-productos">
        <button type="submit"><a href="/product-detail">Ver más</a></button>
      </div>
    </div>
  </figure>