<figure class="home__main__productos__figure">
  <a href="/products/detail/<%= id %>">
    <div class="home__main__productos-imagen">
      <img src="/images/products/<%= image ? image : 'default-image.png' %>" alt="">
    </div>
    <div class="home__main__productos-detalle">
      <h4><%= name %></h4>
      <p>$<%= price %></p>
    </div>
  </a>
  </figure>