<div class="home__search-form">
    <form action="/search" method="GET" class="search-form">
      <input type="text" name="keywords" placeholder="Buscar productos" class="search-form_input">
      <button type="submit" class="search-form_button"><i class="fas fa-thin fa-magnifying-glass" class="search-form_button-lupita"></i></button>
    </form>
</div>
