<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="form__main">
                <section class="product-form__section">
                    <article class="product-form">
                        <form class="main__form--editproduct" action="add-product" method="post">
                            <h3 class="title-add-product">Agregar producto</h3>
                            <div class="main__form__div">
                                <label for="name">Nombre del producto</label>
                                <input class="main__form__div__input" type="text" name="name" id="name" required>
                            </div>
                            <div class="main__form__div__prices">
                                <label for="price">Precio</label>
                                <span>$</span><input type="number" name="price" id="price" min="1000" required>
                                <label for="discount">Descuento</label>
                                <input type="number" name="discount" id="discount" min="5" max="50"><span>%
                                    (Opcional)</span>
                            </div>
                            <div class="main__form__div">
                                <label for="description">Descripción del producto</label>
                                <textarea class="main__form__div__textarea" type="textarea" name="description"
                                    id="description" minlength="20" maxlength="250" required></textarea>
                            </div>
                            <div class="main__form__div">
                                <div class="main__form__div">
                                    <label for="marca">Marca</label>
                                    <select class="main__form__div__selected" name="marca" id="marca">
                                        <option value="marca" hidden>Seleccione una marca</option>
                                        <option value="tramontina">Tramontina</option>
                                        <option value="the-candle-shop">The Candle Shop</option>
                                        <option value="kala">Kala</option>
                                        <option value="leifheit">Leifheit</option>
                                        <option value="oxo">Oxo</option>
                                        <option value="pollywood">Pollywood</option>
                                        <option value="pyrex">Pyrex</option>
                                        <option value="otro">Otro</option>
                                    </select>
                                </div>
                                <div class="main__form__div">
                                    <label for="category">Categoría</label>
                                    <select class="main__form__div__selected" name="category" id="category">
                                        <option value="category" hidden>Seleccione una categoría</option>
                                        <option value="deco">Deco</option>
                                        <option value="frascos">Frascos</option>
                                        <option value="utensilios">Utensilios</option>
                                        <option value="vasos">Vasos</option>
                                        <option value="jarras">Jarras</option>
                                        <option value="aromaticos">Aromáticos</option>
                                    </select>
                                </div>
                                <div class="main__form__div">
                                    <label for="material">Material</label>
                                    <select class="main__form__div__selected" name="section" id="section">
                                        <option value="section" hidden>Seleccione un material</option>
                                        <option value="silicona">Silicona</option>
                                        <option value="acero">Acero</option>
                                        <option value="vidrio">Vidrio</option>
                                        <option value="mimbre">Mimbre</option>
                                        <option value="madera">Madera</option>
                                        <option value="marmol">Mármol</option>
                                        <option value="otro">Otro</option>
                                    </select>
                                </div>
                                <div class="main__form__div">
                                    <label for="image">Imágen del producto</label>
                                    <input class="main__form__div__textarea" type="file" name="image" id="image" accept=".jpg, .png, .webp"
                                        required>
                                </div>
                            </div>
                            
                                <button class="button--form-product" type="submit"><a href="/">Agregar producto</a></button>
                                <button class="button--form-product" type="reset"><a href="/"></a>Cancelar</button>
                            
                        </form>
                        </div>
                    </article>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>