<!DOCTYPE html>
<html lang="en" class="dashboard">

    <%- include('./partials/head') %>

<body class="body--dashboard">
  <div class="body__div--container">

    <%- include('./partials/navDashboard') %>

    <section class="body__section--main">
      <section class="body__section--attendance">
        <div class="body__section--attendance-list">
          <h2><%= title %></h2>
          <table class="div__table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Material</th>
                <th>Precio</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr class="div__table__tr">
                <td>06</td>
                <td>Caja Honey</td>
                <td>Trademark</td>
                <td>Otros</td>
                <td>Plastico</td>
                <td>$10000</td>
                <td><button>Ver</button></td>
              </tr>
              <tr class="div__table__tr">
                <td>07</td>
                <td>home spray</td>
                <td>Trademark</td>
                <td>Aromaticos</td>
                <td>Plastico</td>
                <td>$1000000</td>
                <td><button>Ver</button></td>
              </tr>
              <tr class="div__table__tr">
                <td>08</td>
                <td>lata emporium</td>
                <td>Trademark</td>
                <td>Aromaticos</td>
                <td>Acero</td>
                <td>$1000000000</td>
                <td><button>Ver</button></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </div>

  <script src="/javascripts/menuHamDashboard.js"></script>

</body>
</html>
