<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4f3cb4e973.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo/icon-malva.ico">
    <link rel="stylesheet" href="/CSS/styles.css">
    
    <title>Dashboard</title>
</head>
<body class="dashboard">
  
     <div class="container">
        <nav>
            <ul>
                <li><a href="#" class="logo"><img src="/images/logo/malva-1.png"></a></li>
                <span>usuarios</span>
                <li><a href=""><i class="fas fa-user"></i></a></li>
                <span>usuarios</span>
                <li><a href=""><i class="fas fa-list"></i></a></li>
                <span>categorias</span>
                <li><a href=""><i class="fas fa-file"></i></a></li>
                <span>pedidos</span>
            </ul>
        </nav>
     </div>
</body>
</html>