<!doctype html>

<html lang="es">
    
    <head>
        
        <meta charset="utf-8">
        
        <title> LOGIN </title>    
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <meta name="description" content="formulario de acceso en HTML y CSS Proyecto Malva">
        <meta name="keywords" content="Formulario Acceso, Formulario de LogIn">
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        
       
        <link rel="stylesheet" href="css/styles.css">
        
        <style type="text/css">
            
        </style>
        
        <script type="text/javascript">
        
        </script>
        
    </head>
    <header class="home__header">
            
        <section class="home__header-section">

        <figure class="home__header__figure">
        <button class="home__header__figure-button"><i class="fa-solid fa-bars"></i></button>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </figure>
        
        <figure class="home__header__figure">
        <img src="/images/logo/malva-logo-1.png" alt="">
        </figure>

        <figure class="home__header__figure">
        <button><i class="fa-solid fa-cart-shopping"></i></button>
        </figure>

        </section>
    

        <nav class="home__header__nav">
            <ul class="home__header__nav-ul">
                <li><a>deco</a></li>
                <li><a>frascos</a></li>
                <li><a>utensillos</a></li>
                <li><a>vasos</a></li>
                <li><a>jarras</a></li>
                <li><a>aromáticos</a></li>
            </ul>
        </nav>

</header>

    <body>
        
        
        <div id="contenedor">
            <div id="central">
                <div class="titulo">
                   BIENVENIDO A MALVA
                  </div>
                  <hr id="linea">
                <div id="login">
                   
                    <form id="loginform">
                        <input type="text" name="nombre" placeholder="Nombre" required>
                        
                        <input type="password" placeholder="contraseña" name="Contraseña" required>
                        
                        <button type="submit" title="Log in" name="Log in">Ingresar</button>
                    </form>
                    <div class="pie-form">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                        <a href="#">¿No tenés cuenta todavia? Registrate</a>
                        <button type="submit" title="Log in" name="Log in">Ingresá con Google</button>
                    </div>
                </div>
                <div class="inferior">
                    <a href="#">Volver al inicio</a>
                </div>
            </div>
        </div>
        
    </body>
</html>