<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4f3cb4e973.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="/images/logo/icon-malva.ico">
  <link rel="stylesheet" href="/CSS/styles.css">
  <title>Malva | Registrarse</title>
</head>

<body>
  <header class="home__header">
    <section class="home__header-section">

      <figure class="home__header__figure">
        <button class="home__header__figure-button"><i class="fa-solid fa-bars"></i></button>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </figure>

      <figure class="home__header__figure--logo">
        <a href="/"><img src="/images/logo/malva-logo-1.png" alt=""></a>
      </figure>

      <figure class="home__header__figure">
        <a href="/shopping-cart"><button><i class="fa-solid fa-cart-shopping"></i></button></a>
      </figure>

    </section>


    <nav class="home__header__nav">
      <ul class="home__header__nav-ul">
        <li><a>deco</a></li>
        <li><a>frascos</a></li>
        <li><a>utensilios</a></li>
        <li><a>vasos</a></li>
        <li><a>jarras</a></li>
        <li><a>aromáticos</a></li>
      </ul>
    </nav>

  </header>

  <main>

    <div class="register__form-box">

      <h1>Register</h1>
      <hr>
      <form class="register__form">


        <label for="nombre"></label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre">

        <label for="apellido"></label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido">

        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Email">

        <label for="contraseña"></label>
        <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña">

        <label for="contraseña"></label>
        <input type="password" name="contraseña" id="contraseña" placeholder="Confirma tu contraseña">


        <div class="termcond">

          <input type="checkbox" name="acepta-tyc" id="terminos-condiciones">
          <label for="terminos-condiciones">Acepta los términos y condiciones de uso del sitio</label>

        </div>


        <div class="submit">
          <button type="submit">Crear Cuenta</button>
          
        </div>
        <p>¿Ya estás registrado? <a class="ingresa" href="/login">Ingresa</a></p>
    </div>

    </form>

  </main>

    <footer id="footer" class="home__footer">

      <section class="home__footer__section--final">
        <div class="home__footer__section__div">
  
          <h4>redes sociales</h4>
  
          <div class="home__footer__section__div--social">
            <a href=""><i class="fa-brands fa-google"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </div>
  
        </div>
  
        <div class="home__footer__section__div--sobre-nosotros">
          <h4>sobre nosotros</h4>
          <p class="home__footer__section__div__p">Como desarrolladores hemos trabajado en este proyecto e-commerce
            llamado Malva, asignado por la empresa. La
            tienda online ofrece diferentes productos de bazar y articulos para el hogar. En este trabajo, el cual incluye
            diferentes vistas y lógicas, se ve reflejado el desempeño y conocimiento adquirido hasta ahora por los
            participantes.</p>
        </div>
  
        <div class="home__footer__section__div--atencion-cliente">
          <h4 class="home__footer__section__div__h4">atención al cliente</h4>
          <a class="home__footer__section__div__a" href="">Botón de arrepentimiento </a>
          <a class="home__footer__section__div__a" href="">Formas de pago </a>
          <a class="home__footer__section__div__a" href="">Políticas de privacidad y seguridad </a>
          <a class="home__footer__section__div__a" href="">Términos y condiciones</a>
          <a class="home__footer__section__div__a" href="">Defensa al consumidor</a>
        </div>
  
        <div class="home__footer__section__div--malva">
          <h4>MALVA©</h4>
        </div>
  
      </section>
  
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>