<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4f3cb4e973.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/images/logo/icon-malva.ico">
  <link rel="stylesheet" href="/CSS/styles.css">
  <title>Malva | Carrito</title>
</head>

<body class="home--cart">

    <header class="home__header">

        <section class="home__header-section">
    
          <figure class="home__header__figure">
            <button class="home__header__figure-button"><i class="fa-solid fa-bars"></i></button>
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </figure>
    
          <figure class="home__header__figure--logo">
            <img src="/images/logo/malva-logo-1.png" alt="">
          </figure>
    
          <figure class="home__header__figure">
            <button><i class="fa-solid fa-cart-shopping"></i></button>
          </figure>
    
        </section>
    
    
        <nav class="home__header__nav">
          <ul class="home__header__nav-ul">
            <li><a>deco</a></li>
            <li><a>frascos</a></li>
            <li><a>utensilios</a></li>
            <li><a>vasos</a></li>
            <li><a>jarras</a></li>
            <li><a>aromáticos</a></li>
          </ul>
        </nav>
    
      </header>

  <main class="main--cart">
    <section class="main__section">
        <article class="main__section__article">
            <button class="main__section__article__button--trash"><i class="fa-solid fa-trash-can"></i></button>
            <div class="main__section__article__div--img"><img src="/images/utensilios/abrelatas-acero-inoxidable-leifheit-1.jpg" alt=""></div>
            <h2 class="main__section__article__h2--nombre">Lorem ipsum dolor sit amet.</h2>
            <div class="main__section__article__div--contador">
                <button class="main__section__article__div__button--mas">+</button>
                <p class="main__section__article__div__button--numero">1</p>
                <button class="main__section__article__div__button--menos">-</button>
            </div>
            <p class="main__section__article__p--precio">$000,00</p>
        </article>
    </section>

    <section class="main__section">
        <article class="main__section__article">
            <button class="main__section__article__button--trash"><i class="fa-solid fa-trash-can"></i></button>
            <div class="main__section__article__div--img"><img src="/images/utensilios/batidor-acero-1.jpg" alt=""></div>
            <h2 class="main__section__article__h2--nombre">Lorem ipsum dolor sit amet.</h2>
            <div class="main__section__article__div--contador">
                <button class="main__section__article__div__button--mas">+</button>
                <p class="main__section__article__div__button--numero">1</p>
                <button class="main__section__article__div__button--menos">-</button>
            </div>
            <p class="main__section__article__p--precio">$000,00</p>
        </article>
    </section>

    <section class="main__section">
        <article class="main__section__article">
            <button class="main__section__article__button--trash"><i class="fa-solid fa-trash-can"></i></button>
            <div class="main__section__article__div--img"><img src="/images/utensilios/tabla-30-cm-marmol-1.jpg" alt=""></div>
            <h2 class="main__section__article__h2--nombre">Lorem ipsum dolor sit amet.</h2>
            <div class="main__section__article__div--contador">
                <button class="main__section__article__div__button--mas">+</button>
                <p class="main__section__article__div__button--numero">1</p>
                <button class="main__section__article__div__button--menos">-</button>
            </div>
            <p class="main__section__article__p--precio">$000,00</p>
        </article>
    </section>
  </main>

  <footer class="home__footer">

    <section class="home__footer__section--novedades">
      <div class="home__footer__section__div">
        <h2 class="home__footer__section__div--subtitulo">Recibí nuestras novedades</h2>
        <p class="home__footer__section__div--parrafo">Registrate y entérate primero de nuestras novedades, nuevos lanzamientos, promociones y más.</p>
      </div>

      <div class="home__footer__section__div">
        <form class="form__mobile" action="" method="">
          <input type="email" class="form__mobile__input" placeholder="e-mail@miemail.com">
          <button class="form__mobile__button" type="submit">Suscribirse</button>
        </form>
      </div>

    </section>

    <section class="home__footer__section--info">
      <div class="home__footer__section__div--info">
        <div class="home__footer__section__div--iconos"><i class="fa-regular fa-credit-card"></i></div>
        <h2 class="home__footer__section__div__h2">podes pagar con tarjeta o en efectivo</h2>
        <p class="home__footer__section__div__p">!Tenemos 3 y 6 cuotas sin interés en todos los productos de la tienda y un 10% de descuento en productos
          seleccionados para vos!</p>
      </div>

      <div class="home__footer__section__div--info">
        <div class="home__footer__section__div--iconos"><i class="fa-solid fa-truck-fast"></i></div>
        <h2 class="home__footer__section__div__h2">envío rapido</h2>
        <p class="home__footer__section__div__p">Elegí Mercado Envios y segui tu compra hasta recibirla. Todos tus envíos estarán protegidos</p>
      </div>

      <div class="home__footer__section__div--info">
        <div class="home__footer__section__div--iconos"><i class="fa-regular fa-face-laugh-beam"></i></div>
        <h2 class="home__footer__section__div__h2">compra protegida</h2>
        <p class="home__footer__section__div__p">Te acompañamos hasta que recibas lo que compraste, y si no es lo que esperabas te devolvemos el dinero.</p>
      </div>

    </section>

    <section class="home__footer__section--final">
      <div class="home__footer__section__div">

        <h4>redes sociales</h4>

        <div class="home__footer__section__div--social">
          <a href=""><i class="fa-brands fa-google"></i></a>
          <a href=""><i class="fa-brands fa-whatsapp"></i></a>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>

        <h4>sobre nosotros</h4>
        <p class="home__footer__section__div__p">Como desarrolladores hemos trabajado en este proyecto e-commerce llamado Malva, asignado por la empresa. La
          tienda online ofrece diferentes productos de bazar y articulos para el hogar. En este trabajo, el cual incluye
          diferentes vistas y lógicas, se ve reflejado el desempeño y conocimiento adquirido hasta ahora por los
          participantes.</p>
      </div>

      <div class="home__footer__section__div">
        <h4 class="home__footer__section__div__h4">atención al cliente</h4>
        <a class="home__footer__section__div__a" href="">Botón de arrepentimiento </a>
        <a class="home__footer__section__div__a" href="">Formas de pago </a>
        <a class="home__footer__section__div__a" href="">Políticas de privacidad y seguridad </a>
        <a class="home__footer__section__div__a" href="">Términos y condiciones</a>
        <a class="home__footer__section__div__a" href="">Defensa al consumidor</a>
      </div>

      <div class="home__footer__section__div--malva">
        <h4 >MALVA©</h4>
      </div>

    </section>

  </footer>

</body>

</html>