.header--dashboard{
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  width: 100%;
  align-items: center;
}

.header--dashboard button{
  border: none;
  background: rgb(226, 226, 226);
  margin-right: 34%;
}

.body--dashboard{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
.body--dashboard{
  background: rgb(226, 226, 226);
}

.active11{
  transform: translate(-284px);
}

.nav--dashboard{
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 280px;
  background: #fff;
  overflow: hidden;
  transition: 0.5s;
  z-index: 10;
}

.li--logo{
  display: flex;
  padding-bottom: 3rem;
}

.li--logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 8px;
  float: left;
}

.li--logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.body--dashboard a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}

.nav--dashboard .fas{
  position: relative;
  width: 63px;
  height: 40px;
  top: 10px;
  font-size: 20px;
  text-align: center;
}

.span--nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}

.body--dashboard a:hover{
  background: #eee;
}

.body--dashboard a:hover i{
  color: var(--color5);
  transition: 0.5s;
}

.a--logout{
  position: absolute;
  bottom: 0;
}

.body__div--container{
  display: flex;
  flex-wrap: wrap;
}

.body__section--main{
  position: relative;
  padding: 20px;
  width: 100%;
}

.section__div--main-top{
  display: flex;
  width: 100%;
}

.section__div--main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.section__div--main-top i:hover{
  color:var(--color5)
}

.body__section--main .section__div--users{
  display: flex;
  width: 100%;
}

.section__div--Add{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

.section__div--cardAdd{
  width: 120px;
  height: 195px;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.16);
  font-size: 2rem;
}

.section__div--cardAdd h4{
  font-size: 60%;
}

.section__div--cardAdd a{
  padding: 0;
  width: auto;
  margin: 20px auto 0;
  border-radius: 12px;
}

.section__div--cardAdd button{
  width: 75px;
  padding: 7px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid var(--color3);
}

.section__div--cardAdd button:hover{
  background: #e9ecef;
}

.section__div--users .section__div--card{
  width: 25%;
  min-width: 108px;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 4rem;
}

.section__div--users .section__div--card img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.section__div--users .section__div--card h4{
  text-transform: uppercase;
}

.section__div--users .section__div--card p{
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.section__div--users .section__div--card a{
  border-radius: 7px;
  padding: 0;
  margin-top: 8px;
}

.section__div--users table{
  margin:  auto;
}

.section__div--users .per span{
  padding: 5px;
  border-radius: 10px;
  background: rgb(223, 223, 223);
}

.section__div--users td{
  font-size: 14px;
  padding-right: 15px;
}

.section__div--users .section__div--card button{
  width: 100%;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid var(--color3);
}

.section__div--users .section__div--card button:hover{
  background: var(--color3);
  color: #fff;
  transition: 0.5s;
}

.body__section--attendance{
  margin-top: 20px;
}

.body__section--attendance-list{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

  .div__table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  width: 100%;
  border-radius: 5px;
  display: flow-root;
  overflow: scroll;
}

.div__table__tr:hover{
  font-weight: bold;
  color: var(--color5);
  transition: 0.2s;
}

.div__table__tr{
  cursor:default;
}

.div__table__tr a{
  width: 0;
  border-radius: 8px;
}

.div__table thead tr{
  color: #fff;
  background: var(--color3);
  text-align: left;
  font-weight: bold;
}

.div__table th,
.div__table td{
  padding: 12px 15px;
}

.div__table tbody tr{
  border-bottom: 1px solid #ddd;
}

.div__table tbody tr:nth-of-type(odd){
  background: #f3f3f3;
}


.div__table button{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--color3);
}

.div__table button:hover{
  background: var(--color3);
  color: #fff;
  transition: 0.5rem;
}

.none{
  display: none;
}

.form-dashboard{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 33px auto;
  padding: 20px;
  background-color: #fff;
  align-items: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.form-dashboard label{
  margin-top: 15px;
}

.form-dashboard textarea{
  border: none;
  border-bottom: 1px solid #adb5bd;
  width: 90%;
  outline: none;
  color: var(--color5);
}

.form-dashboard select:focus-visible{
  outline: none;
}

.form-dashboard select{
  width: 90%;
  padding: 5px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  text-transform: capitalize;
}

.form-dashboard input{
  width: 90%;
  border: none;
  border-bottom: 1px solid #adb5bd;
  outline: none;
  text-align: center;
  color: var(--color5);
  padding: 5px;
}

.form-dashboard button{
  width: 65%;
  padding: 5px;
  margin-top: 20px;
  border: 2px solid var(--color3);
  border-radius: 8px;
  background-color: transparent;
}
.form-dashboard button:hover{
  background: #eee;
}
.top-text{
  display: flex;
  justify-content: space-between;
}
.form-box{
  width: 90%;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin: 40px auto;
}

@media (min-width:666px){

  .admins{
    display: table;
  }

}

@media (min-width:700px){

  .other{
    display: table;
  }

}

@media (min-width:844px){

  .form-dashboard{
    width: 75%;
  }

  .users{
    display: table;
  }

}

@media (min-width:895px){
  
  .products{
    display: table;
  }

}


@media (min-width:990px){

  .nav--dashboard{
    width: 80px;
  }
  .nav--dashboard:hover{
    width: 280px;
    transition: 0.7s;
  }
  .nav--dashboard ul li:last-child{
    display: none;
  }
.active11{
  transform: translate(0px);
}

.header--dashboard{
  display: none;
}

.nav--dashboard{
  display: block;
  position: sticky;
}

.body__div--container{
  flex-wrap: nowrap;
}

.body__section--attendance{
  text-transform: capitalize;
}

.div__table{
  display: table;
}
}