*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--tipografia);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}