.home__header__section--cuenta{
    display: none;
}


.home__header-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    width: 100%;
    background-color: var(--color1);
}

.home__header__figure-button{
    margin-right: 5px;
}

.home__header__figure{
    margin: 1rem 0 0;
}

.home__header-section img{
    width: 100px;
}

.home__header-section i{
    font-size: 1.3rem ;
}

.home__header-section button{
    border: none;
    background-color: var(--color1);
}

.home__header__nav{
    background-color: var(--color5);
    margin-bottom: -15.9px;
}

.home__header__nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    overflow: scroll;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--color1);
}

.home__header__nav-ul li:hover{
    color: #fff;
    cursor: pointer;
}

.home__header__nav-ul li {
    display: inline-block;
    position: relative;
  }
  
  .home__header__nav-ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom;
    transition: transform 0.6s ease-out;
  }
  
  .home__header__nav-ul li:hover:after {
    transform: scaleX(1);
    transform-origin: right left;
  }

@media (min-width: 768px){

  .home__header__section--cuenta a{
    color: #fff;
    font-size: smaller;
    margin-right: 10px;
}

  .home__header__section--cuenta{
    display: block;
    background-color: var(--color5);
    text-align: end;
    padding: 5px;
  }

  .home__header__section__a--icono{
    margin-right: 20px;
  }
}

