body {
    font-family: 'Domine', serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-color:#fff;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width :90%;
    margin :70px auto;
    padding: 0;
}

#central {
    max-width: 520px;
    width: 200%;
}

.titulo {
    text-align: center;
    font-size: 1.2rem;
    margin-left: 13px
}

#linea{
   
    border-color :inherit;
    color :var(--color3);
    background-color: var(--color3);
    height: 2px;
}
#login {
  
    display :flex;
    flex-direction :column;
    width: 100%;
    gap: 10px;
    box-sizing :border-box;
    align-items :center;
    margin-top :10px;
    margin-bottom: 10px;
}

#login input {
   
    width: 90%;
    height: 30px;
    padding: 10px;
    font-size :0.8rem;
    border-style :groove;
    
}

#login input::placeholder {
    font-family: 'Domine', sans-serif;
    color: #080808;
    
    
}
#loginform input{
    border-color: #080808;
    
    margin-bottom: 15px;;
}

#login button {
    font-family: 'Domine', sans-serif;
    font-size: 110%;
    color:#ffddd4;
    width: 90%;
    height: 40px;
    border: none;
    transition: all 0.5s;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #a17c74;
    
    margin-top: 10px;
}

#login button:hover {
    background-color:
    #e7c5bc;
    color:#fff;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
    
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: var(--color5);
    margin-bottom: 3px;
}

.pie-form a:hover {
    background-color :var(--color1);
    color: #e7c5bc;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}
.inferior button{
    font-family: 'Domine', sans-serif;
    font-size: 110%;
    color:#ffddd4;
    width: 90%;
    height: 40px;
    border: none;
    
    transition: all 0.5s;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #a17c74;
    
    margin-top: 10px;
}

.inferior button:hover{
    background-color:
    #e7c5bc;
    color:#fff;
}
.inferior a {
    display: block;
    text-decoration: none;
    color: #ffddd4;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #e7c5bc;
}
@media (min-width :768px){
    #contenedor{
        width: 65%;
    }
    .pie-form{
        content :'';
        width: 15px;
        height: 15px;
        display :inline-block;
        background: none;
        border: 3px solid var(--color5);
        border-radius: 50%;
        position :absolute;
        left: 17px;
        top :4px;
    }
}

@media (min-width: 1024px){
    #contenedor{
        width: 50%;
    }
    }
