.product-detail__main {
    width: 100%;
    padding: 20px 10px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-detail__main__section--product {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-bottom: 20px;
}
 
.carouseldetail {
    width: 60%;
    margin: 0 auto;
    padding: 40px;
}

.image-product {
    width: 100%;

}

.product-detail-description {
    padding: 15px;
    text-align: center;
}

.product-detail-description h2 {
    text-transform: capitalize;
}

.product-detail-description hr {
    border-color: var(--color5);
    color: var(--color5);
    background-color: var(--color5);
    height: 4px;
    margin: 0 auto 15px;
}

.product-detail-description b {
    color: var(--color5);
    font-weight: 200;
}

.product-detail-description p {
    font-size: 0.9em;
    margin-bottom: 6px;
    color: rgb(51, 51, 51);
}

.description-box p {
    height: 120px;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.product-description {
    color: rgb(127, 127, 127);
    text-align: center;
    overflow: scroll;
}

.product-price {
    font-weight: 700;
    color: var(--color5);
}

.product-detail__main__section__article--shopping-cart-button {
    text-align: center;
}

.product-detail__main__section__article--shopping-cart-button button,
label,
select {
    margin: 10px 0;
    border: none;
}

.default-button {
    width: 70%;
    height: 37px;
    border: none;
    background-color: var(--color3);
    color: var(--color5);
    /*background-color: var(--color5);
    color: var(--color1);*/
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 0.8em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.default-button:hover {
    background-color: var(--color2);
    color: var(--color5);
    font-size: 0.9em;
}

.payment-method select {
    width: 60%;
}

.product-detail__main__section--related-products {
    display: none;
    text-transform: capitalize;
    font-size: 14px;
}

.product-detail__main__section__article--related-products {
    width: 22%;
    display: flex;
    justify-content: space-between;
}

.product-detail__main__section__article--related-products img {
    width: 100%;
}

.ver-mas-productos {
    display: none;
    width: 70%;
    text-align: center;
}

.ver-mas-productos button {
    margin: 20px;
    width: 45%;
    height: 35px;
    border: none;
    background-color: var(--color4);
    color: #fff;
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 1.1em;
    border-radius: 5px;
}

.ver-mas-productos button:hover {
    background-color: var(--color2);
    color: var(--color5);
    font-size: 0.9em;
}

/* Vista para tablet */
@media (min-width: 768px) {

    .product-detail__main__section--product {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .product-detail__main__section--product {
        width: 80%;
    }

    .carouseldetail {
        width: 70%;
        margin: 0 auto;
    }

    .image-product {
        width: 100%;

    }

    .product-detail__main__section__article--product {
        display: flex;
        justify-content: center;
    }

    .product-detail-description {
        width: 80%;
    }

    .product-price {
        justify-content: center;
    }

    .product-detail__main__section__article--shopping-cart-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 20px;
        width: 100%;
    }

    .default-button {
        width: 30%;
    }

    .payment-method select {
        width: 60%;
        font-size: 0.9em;
    }

    .product-detail__main__section--related-products {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .product-detail__main__section--related-products h4 {
        font-weight: 100;
    }

    .product-detail__main__section__article--related-products {
        width: 85%;
        display: flex;
        align-items: stretch;
    }

    .related-products {
        margin: 10px;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .related-products:hover{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .related-products button {
        text-align: center;
        width: 100%;
        padding: 8px;
    }

    .ver-mas-productos {
        display: flex;
        justify-content: center;
    }
}

/* Vista para desktop */
@media (min-width: 1024px) {}