.reset-password__main {
    margin: 20px;
    padding: 25px 8px 75px;
}

.reset-password__main__section {
    
}

.input-required {
    color: rgb(255, 0, 0);
}

.form--reset-password {
    margin: 8px 0;
}

.form--reset-password input {
    width: 100%;
    padding: 8px;
}

.form--reset-password button {
    font-size: 14px;
    padding: 6px 0;
    width: 70%;
    background-color: var(--color4);
    color: #fff;
    text-transform: uppercase;
    box-shadow: rgba(167, 167, 167, 0.8) 5px 5px 5px 0;
    border: none;
}

.home__footer__section--info {
    display: none;
}

@media (min-width: 768px) {
    .reset-password__main {
        width: 65%;
    }

    .home__footer__section--info {
        display: none;
    }

    .home__footer__section--final {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media (min-width: 1024px) {
    .reset-password__main {
        width: 45%;
    }
}