.main--cart{
    padding-bottom: 70px;
}
.main__section-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
}

.main__section-cart-each-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main__section__article-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px;
    padding: 5px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
}

.main__section__article__button--trash {
    position: absolute;
    right: 3px;
    top: 3px;
    border: none;
    background-color: white;
}

.main__section__article__button--trash i {
    color: rgb(181, 180, 180)
}

.main__section__article__div--img {
    width: 30%;
}

.main__section__article__div--img img {
    width: 100%;
}

.main__section__article__div--box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    padding: 5px;
}

.main__section__article__h2--nombre {
    width: 90%;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contador-box {
    display: flex;
    width: 50%;
    align-items: center;
}

.main__section__article__div--contador {
    border: 1px solid white;
    background-color: #e6e2e2;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border-radius: 4px;
    width: 100%;
    height: 70%;
    text-align: center;
    align-items: center;
    margin-right: 5px;
} 

.main__section__article__div__span-left {
    border-right: 1px solid white;
}

.main__section__article__div__button--menos {
    color: #a6a4a4;
    background-color: #e6e2e2;
    border: none;
}

.main__section__article__div__button--numero {
    color: #a6a4a4;
}

.main__section__article__div__span-right {
    border-left: 1px solid white;
}

.main__section__article__div__button--mas {
    color: #a6a4a4;
    background-color: #e6e2e2;
    border: none;
}

.main__section__article__p--precio {
    color: green;
    margin: 8px;
}

.main__section-cart-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 5px 0;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: white;
    position: fixed;
    bottom: 0px;
}

.main__section-cart-total h4 {
    font-size: 1em;
    font-weight: 100;
    color: rgb(136, 136, 136);
    margin: 10px auto;
    text-transform: uppercase;
}

.main__section-cart-total button {
    margin: 5px auto;
}

.clear-cart-k{
    width: 70%;
    padding: 5px;
    margin-top: 20px;
    border: 2px solid var(--color3);
    border-radius: 8px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 100;
}
.clear-cart-k:hover{
  background: #eee;
}
/* Agregar mas productos */
.main__section__article-cart-add {
    display: flex;
    width: 100%;
    margin: 60px auto 100px;
    text-align: center;
}


@media (min-width:768px) {

    .main__section-cart {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .main__section-cart-each-product {
        display: flex;
        justify-content: center;
        width: 60%;
    }

    .main__section__article-cart {
        width: 100%;
    }

    .main__section__article__div--img {
        width: 20%;
    }

    .main__section__article__h2--nombre {
        width: 90%;
        font-size: 1em;
        font-weight: 100;
        color: rgb(79, 79, 79)
    }

    .main__section-cart-total {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 30%;
        height: 185px;
        margin: 5px 0 auto 8px;
        padding: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: white;
        position: relative
    }
    .main__section-cart-total button {
        margin: 5px auto;
        width: 90%;
    }
    .contador-box {
        display: flex;
        width: 30%;
        align-items: center;
    }
    
    
}

@media (min-width:1024px) {

    .main__section-cart-each-product{
        width: 55%;
    }
    .main__section__article__button--trash {
        padding: 10px;
    }
    .main__section__article__button--trash i {
        font-size: 1.4em;
    }
    .main__section-cart-total{
        width: 25%;
    }
    .main__section__article__h2--nombre {
        width: 100%;
        font-size: 1.2em;
        font-weight: 100;
    }
    .main__section__article__p--precio {
        font-size: 1.2em;
    }
    .contador-box {
        width: 25%;
    }
}