.main--cart{
background-color: #D9D9D9;
}

.main__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section__article{
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    position: relative;
    padding: 2px 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin:33px 0;
    width: 80%;
    max-width: 590px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 51%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.main__section__article__button--trash{
    border: none;
    background-color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 4.7vw;
}

.main__section__article__button--trash i{
    background-color: #fff;
}

.main__section__article__div--img img{
    width: 70%;
    max-width: 410px;
}

.main__section__article__h2--nombre{
    font-size: 1.1em ;
}

.main__section__article__div--contador{
    border: 1px solid #bbbbbb;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    border-radius: 4px;
    width: 70%;
    max-width: 280px;
    
}

.main__section__article__div__span-left{
    border-right: 1px solid #bbbbbb;
    height: 100%;
}
.main__section__article__div__span-center{
    height: 100%;
}

.main__section__article__div__button--mas{
    color: #939292;
    background-color: #fff;
    border: none;
    font-size: 24px;
}

.main__section__article__div__span-right{
    border-left: 1px solid #bbbbbb;
    height: 100%;
}

.main__section__article__div__button--menos{
    color: #939292;
    background-color: #fff;
    border: none;
    font-size: 24px;
}

.main__section__article__div__button--numero{
    color: #939292;
}

.main__section__article__p--precio{
    color: #737CAB;
    margin: 8px;
}

@media (min-width:768px){
    
    .main__section__article__h2--nombre {
        font-size: 1.7em;
        font-weight: 400;
    }
    
    .main__section__article__button--trash{
        font-size: 35px;
    }

    .main__section__article__p--precio{
        font-size:1.7em ;
    }

}

@media (min-width:1024px){
    .main__section__article__button--trash{
        font-size: 35px;
    }
}